* {
  box-sizing: border-box;
  font-family: "Montserrat";
}

.container {
  height: 100%;
  min-height: 100vh;
  padding: 1rem;
  background-image: linear-gradient(to bottom right, #f5e1e1, #f7fff8, #f0e6ff);
  background-image: var(--background-gradient);
}
