* {
  box-sizing: border-box;
  font-family: "Montserrat";
}

.field {
  display: flex;
  flex-direction: column;
}

[data-input] {
  padding: 0.5rem;
  font-size: 16px;
  background: transparent;
  transition: 0.3s;
  width: 100%;
}

[data-input]:not(:focus) {
  border: none;
  border-bottom: 1px solid grey;
  border-bottom: 1px solid var(--neutral-color);
  padding: 1.1rem 0 0 0;
}

.text {
  display: flex;
  justify-content: space-between;
}

[data-validation] {
  margin-block: 0;
  color: red;
  color: var(--alert-color);
  text-align: end;
}
